.comment-form {
    padding-bottom: 25px;
}

.comment-form textarea {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    width: 75%;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #4fa54d
}

.comment-form button {
    display: flex;
    margin: auto;
    width: 25%;
}