.user-profile {
    margin: auto auto;
    margin-top: 50px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;

}

.user-profile p{
    text-align: center;
    color: snow;
}

.user-profile h1{
    text-align: center;
    color: snow;
}