
.user-comment {
    margin: auto;
    background-color: #F5F5F5;
    max-width: 75%;
    margin-bottom: .5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 25px 25px 15px 25px;
}

.user-reply {
    box-shadow: -.2em 0 .4em gray;
    margin: 10px 0 10px auto;
    max-width: 80%;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
    border-color: gray;
    padding: 25px 25px 15px 25px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info p {
    width: 100%;
}

.user-info a {
    color: cornflowerblue;
    text-decoration: none;
}

.user-info a:hover {
    color: royalblue;
    text-decoration: underline;
}

.profile-image {
    display: inline-block;
    margin-right: 10px;
    max-width: 50px;
    border-radius: 50%;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.username {
    display: inline-block;
    font-weight: 600;
}

.icon {
    display: block;
    margin-left: auto; 
    margin-right: 10px;
    color: cornflowerblue;
    text-decoration: none;
}

.icon:hover {
    color: royalblue;
}